@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--accent: #6ce0e8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #2b2b2b;
		--foreground: #c0c0c0;
		--darker: #1c1c1c;
		--accent: #6ce0e8;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
